@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #f6f8f9;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #ffffff;
    height: 60px;
}

.middle-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

#logo,
.middle-text {
    vertical-align: middle;
    padding-top: 2px;
}

#logo {
    padding-left: 10px;
}

/* Sections */
.add-button-section {
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.task-section {
    background-color: #ffffff;
    margin: 0 auto;
    width: 80%;
    margin-top: 2px;
    padding-top: 5px;
}

.task-title {
    margin-left: 40px;
    margin-top: 30px;
}

.task-type {
    font-size: 20px;
    font-weight: 500;
}

.task-text {
    margin-top: 15px;
}

.task-done {
    color: #60bda4;
    border: 1px, solid, #60bda4;
    height: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.task-not-done {
    color: red;
    border: 1px, solid, red;
    height: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Categories */
.cat-editorial {
    color: #ffffff;
    background-color: #47adf1;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

.cat-q1-goals {
    color: #ffffff;
    background-color: #9c72e4;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

.cat-recruiting {
    color: #ffffff;
    background-color: #64c0a8;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

.cat-mobile {
    color: #ffffff;
    background-color: #f29d33;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

.cat-website {
    color: #ffffff;
    background-color: #d863a0;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

.cat-sales {
    color: #ffffff;
    background-color: #b0c926;
    padding: 7px;
    border-radius: 20px;
    font-size: 10px;
}

/* Buttons */
.button-1 {
    color: #ffffff;
    background-color: #47adf1;
    padding: 7px;
    border-radius: 5px;
    margin-left: 40px;
    font-size: 10px;
}

.button-2 {
    color: #ccd1d6;
    background-color: #ffffff;
    border: 1px, solid, #ccd1d6;
    padding: 7px;
    border-radius: 5px;
    font-size: 10px;
}